@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<a asp-action="Index" class="btn btn-primary">Courier</a>
<a asp-action="Index" class="btn btn-primary">Company Mail</a>